@font-face {
  font-family: 'Baloo';
  src: font-url('Baloo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo';
  src: font-url('Baloo2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CourierPrime';
  src: font-url('CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
